/* Main Style Rules */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --bg-color: #FDF4E8;
    --btn-color: #FF900E;
}

section {
    width: 1200px;
}

/* Header Styles Start From Here */
.header {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.header_container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 30%;
}

.header_logo h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_menu {
    width: 40%;
}

.header_menu ul {
    display: flex;
    justify-content: space-between;
}

.header_menu ul li {
    list-style: none;
}

.header_menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

/* Header Styles End Here */




/* Hero Section Styles Start From Here */
.hero {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0 30px 0;
}

.hero_container {
    width: 1200px;
    text-align: center;
}

.hero_container h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}

.hero_container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 11%;
}

.btn {
    background-color: var(--btn-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.hero_container img {
    width: 100%;
    margin-top: 50px;
}

/* Hero Section Styles End Here */



/* Our Features Section Styles Start From Here */
.our_features {
    margin: auto;
    display: flex;
    padding: 85px 0;
    flex-wrap: wrap;
}

.our_features_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_features_images_colum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 55%;
}

.our_features_images_colum img {
    width: 100%;
}

.our_features_texts_colum {
    width: 45%;
    margin-left: 70px;
}

.our_features_texts_colum h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.left_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 30px 0;
}

/* Our Features Section Styles End Here */



/* Our Experience Setction Styles Start From Here*/
.our_experience {
    margin: auto;

}

.our_experience_container {
    display: flex;
}

.our_experience_texts_column {
    width: 50%;
    padding-right: 100px;
}

.our_experience_texts_column h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding-left: 20px;
    border-left: 5px solid var(--btn-color);
}

.our_experience_texts_column .text_box {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
}

.our_experience_texts_column .text_box h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;

}

.our_experience_texts_column .text_box p {
    margin: 0;
}

.our_experience_image_column {
    width: 50%;
}


/* Our Experience Setction Styles End Here*/







/*************************** @Medea Query Responsive Styles ***************************/
@media screen and (max-width: 576px) {

    header {
        padding: 0;
        margin: 0;
    }

    .header_menu {
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
        gap: 0;
    }

    .header_container,
    .header_menu ul {
        gap: 0;
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0;
    }

    .hero_container {
        padding: 30px;
    }

    .our_features {
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        flex-wrap: wrap;
    }

    .our_features_container {
        display: flex;
        flex-wrap: wrap;

    }

    .header_logo {
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;
    }

    .our_features_images_colum {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .our_features_images_colum img {
        width: 100%;
    }

    .our_features_texts_colum {
        margin: 0;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

}


/*************************** @Medea Query Responsive Styles ***************************/